<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row routerLink="/tabs/profile" class="ion-justify-content-between">
        <ion-col size="3">
          <ion-tab-button>
            <ion-icon name="chevron-back-outline"></ion-icon>
          </ion-tab-button>
        </ion-col>
        <ion-col size="3">
          <ion-tab-button>
            <ion-icon color="warning" routerLink="/config" name="cog-outline"></ion-icon>
          </ion-tab-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center ion-padding-top">
        <h2>Configurações Gerais</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center ion-padding-top">
        <a href="">Trocar senha</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center ion-padding-top">
        <a href="">Privacidade</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center ion-padding-top">
        <a href="">Segurança</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center ion-padding-top">
        <a href="">Notificações</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center ion-padding-top">
        <a href="">Mudar para CNPJ</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center ion-padding-top">
        <a href="">Validar conta</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center ion-padding-top">
        <a href="">Sair</a>
      </ion-col>
    </ion-row>
  </ion-grid>
    
</ion-content>