<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-start">
        <ion-col size="3">
          <ion-tab-button routerLink="/tabs/profile">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </ion-tab-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Configurações do perfil</h2>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="3">
        <img src="../../assets/images/man.png" alt="">
      </ion-col>
      <ion-col size="7">
        <a>Alterar foto de perfil</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label class="label">Nome</ion-label>
          <ion-input placeholder="Seu Nome da Silva"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="label">Nome de usuário</ion-label>
          <ion-input placeholder="Seu Nome"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="label">Sobre você</ion-label>
          <ion-textarea placeholder="Sou de Londrina, tenho xx anos, trabalho de forma autônoma vendendo salgados."></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="label">Telefone</ion-label>
          <ion-input placeholder="+xx (xx) xxxxx-xxxx"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="label">Email</ion-label>
          <ion-input placeholder="exemploemail@email.com"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="label">Gênero</ion-label>
          <ion-input placeholder=""></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
