

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="8"  class="ion-padding-top ion-margin-top">
        <ion-img src="../../assets/images/nomelogo.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-grid>
        <ion-row>
          <ion-label class="ion-margin-horizontal ion-padding-top">Email ou nome de usuário</ion-label>
        </ion-row>
        <ion-row>
          <ion-input class="ion-margin-horizontal" type="text"></ion-input>
        </ion-row>
        <ion-row>
          <ion-label class="ion-margin-horizontal ion-padding-top">Senha</ion-label>
        </ion-row>
        <ion-row>
          <ion-input class="ion-margin-horizontal" type="password"></ion-input>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button class="ion-margin-top" routerLink="/tabs" expand="block" color="warning">Entrar</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="ion-text-center"><a href="#">Obtenha ajuda</a> ou <a routerLink="/register">Cadastre-se</a></p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
  </ion-grid>
</ion-content>
