div {
  width:100%;
  border-top: solid 1px #f7c20f;
}

ion-input {
  background-color: gray;
  height: 30px;
  font-size: 0.8rem;
}

ion-col p {
  font-size: 0.46rem;
}

.name {
  font-weight: bold;
}

iframe {
  height: 40vh;
}