ion-icon:hover, ion-tab-button:hover ion-icon {
  color: #f7c20f
}

h2 {
  font-size: 0.7rem;
  font-weight: bold;
  text-align: center;
}

ion-button {
  font-size: 0.6rem;
}

ion-col p {
  text-align: center;
  font-size: 0.9rem;
}

div.gray {
  border: 0.5px solid rgb(94, 94, 94);
}

ion-content p {
  margin: 8px 10px;
  font-weight: bold;
  font-size: 0.8rem;
}